{
    "Database": {
        "Hostname": "localhost",
        "Schema": "zf",
        "Username": "root",
        "Password": "password"
    },
    "GameNetwork": {
        "IPAddress": "192.168.0.106",
        "Port": 5816,
        "MaxConn": 100
    },
    "RpcNetwork": {
        "IPAddress": "192.168.0.106",
        "Port": 5817
    },
    "Authentication": {
        "StrictAuthPass": false
    }
}